{% extends "listings/templateBase.html" %}
    {% block title %}Connexion{% endblock title %}
        {% block content %}
            <div id="Conteneur">
                <div class="blockconnexion">
                    <h1 style="color : blue">Connexion</h1>
                </div>
                <div class="blockformulaire">
                    {% comment %}
                    Notons le 3e para de form, sans ce dernier, le navigateur n'envera
                    pas les fichiers au serveurweb. Oublier request.FILES et enctype=... est
                    impossibles de sauvegarder des images dans la base de données
                    {% endcomment %}
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button type="submit">Envoyer</button>
                        <button type="reset">Cancel</button>
                    </form>
                </div>
            </div>
        {% endblock content %}