{% extends "listings/templateBase.html" %}
    {% block title %}Connexion{% endblock title %}
        {% block content %}
            <div id="Conteneur">
                <div class="blockconnexion">
                    <h1 style="color : blue">Connexion</h1>
                </div>
                <div class="blockformulaire2">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button type="submit">Connexion</button>
                        <button type="reset">Cancel</button>
                    </form>
                </div>
            </div>
        {% endblock content %}