{% extends "listings/templateBase.html" %}
    {% block title %}Listings{% endblock title %}
        {% block content %}
            <div id="Conteneur">
                    <h1 style="font-size:50px">Ajouter une nouvelle annonce</h1>
                <div class="blockaddnewlisting">
                    <form action="" method="post">
                        {% csrf_token %} <!-- Incite les users à effectuer des operations en forgeant ...-->
                        {{form.as_p}}
                        <button type="submit">Create</button>
                        <button type="reset">Cancel</button>
                    </form>
                </div>
            </div>
        {% endblock content %}