{% extends "listings/templateBase.html" %}
    {% block title %}Listing detail{% endblock %}
        {% block content %}
            <div id="Conteneur">
                <div class="block1">
                    <h1 style="font-weight : bold">{{listing.title}}</h1>
                </div>
                <div class="block2">
                        <h2>Type : {{listing.get_type_display}}</h2> <!-- le get_genre_display permet d'afiicher au lieu les valeur
                         comme HH, Rg ... Afiiche les noms correspondants-->
                        <h2>Année de formation : {{listing.year}}</h2>
                        {% if title.sold %}
                        <h2>Soldé? : Oui</h2>
                        {% else %}
                        <h2>Soldé? : Non</h2>
                        {% endif %}
                        <h2>Description : {{listing.description}}</h2>
                        <h2>Groupe : {{listing.band}}</h2>
                </div>
                <div class="block3">

                </div>
            </div>
{% endblock %}